/**
* HEADER OVERLAY STICKY & LAZY MENU
*/

/**Base */
body {
   min-height: 2000px;
}

.header-grid.grid {
   position: relative;
}

.grid {
   width: 100%;
   max-width: 1140px;
   margin: 0 auto;
}

p {
   color: #777;

   font-size: 16px;
   line-height: 1.66em;
}
/*=== Base ===*/

.header {
   position: relative;
   z-index: 301;

   width: 100%;

   border-bottom: 1px solid #ededed;

   background-color: #f7f7f7;
   -webkit-background-size: cover;
           background-size: cover;
}

header {
   display: block;

   margin: 0;
   padding: 0;

   font-size: 100%;
}

/**Sticky header*/
.sticky .header__holder {
   -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;

   position: fixed;
   top: 0;

   -webkit-transform: translateZ(0);
       -ms-transform: translateZ(0);
           transform: translateZ(0);

   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-perspective: 1000;
       -ms-perspective: 1000;
           perspective: 1000;
}

.header.sticky .header__bg {
   -webkit-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
           transition: opacity 0.2s ease-out;
}

.a-sticky .header__bg {
           opacity: 1;

   -webkit-opacity: 1;
      -moz-opacity: 1;
        -o-opacity: 1;
}

.sticky .header-logo ,
.sticky .header__inner ,
.sticky .shoping-cart__link ,
.sticky .header__trigger ,
.sticky .shopping-cart {
   -webkit-transition: height 0.25s ease,line-height 0.25s ease;
        -o-transition: height 0.25s ease,line-height 0.25s ease;
           transition: height 0.25s ease,line-height 0.25s ease;
}

.sticky.a-sticky .header__holder {
   top: -32px;
}

.a-sticky .header__holder {
   -webkit-transition: top 0.35s ease 0.1s;
        -o-transition: top 0.35s ease 0.1s;
           transition: top 0.35s ease 0.1s;
}

.header__inner ,
.a-sticky .header__inner {
   border-bottom: 1px solid #ededed;
}

.a-sticky .add-header-height {
   height: 55px !important;

   line-height: 55px !important;
}

.sticky .header__holder {
   position: fixed;
   top: 0;
   right: 0;

   -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
   -webkit-transform: translateZ(0);
       -ms-transform: translateZ(0);
           transform: translateZ(0);

   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-perspective: 1000;
       -ms-perspective: 1000;
           perspective: 1000;
}

.sticky .header__inner {
   -webkit-transition: height 0.25s ease,line-height 0.25s ease;
        -o-transition: height 0.25s ease,line-height 0.25s ease;
           transition: height 0.25s ease,line-height 0.25s ease;
}

.sticky .header__holder.header--hidden {
   -webkit-transform: translate(0,-100%);
       -ms-transform: translate(0,-100%);
           transform: translate(0,-100%);

   ms-transform: translate(0,-100%);
}

.sticky .header__holder {
   -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;

   position: fixed;
   top: 0;

   -webkit-transform: translateZ(0);
       -ms-transform: translateZ(0);
           transform: translateZ(0);

   -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-perspective: 1000;
       -ms-perspective: 1000;
           perspective: 1000;
}
/*===Sticky header===**/

/**Header background*/
.header .header__bg {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;

   width: 100%;
   height: 100%;
}

.header__bg {
           opacity: 1;

   -webkit-opacity: 1;
      -moz-opacity: 1;
        -o-opacity: 1;
   background-color: #fff;
}
/*===Header background===**/

/**Header holder*/
.header__holder {
   position: absolute;

   width: 100%;
   z-index: 200;
}
/*===Header holder===**/

/**Header toolbar*/
.header__toolbar {
   position: relative;

   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   width: 100%;
   height: 35px;

   background-color: #fff;

   line-height: 35px;

   z-index: 310;
}

/**Navigation*/
.navigation {
   display: inline-block;

   height: 30px;
   margin-right: 10px;
}

.navigation ul {
   margin: 0;
   padding: 0;
}

ul {
   margin-bottom: 1em;
   margin-left: 1.5em;

   list-style: none;
}

.navigation ul li {
   display: inline-block;

   margin: 0;
   padding: 0;

   line-height: 26px;
}

.navigation ul li ul {/*hide sub menu*/
   display: none;
}

.navigation ul li a {
   display: inline-block;

   padding: 0 5px;

   border-right: 1px solid rgba(128,128,128,0.2);

   line-height: 10px;
}

.navigation a ,
.navigation a:hover ,
.header__login .header__login-link ,
.header__login .header__login-link:hover{
   color: #999;
}

.header__login .header__login-link ,
.navigation a {
   font-size: 12px;
}

.fullscreen__nav .fullscreen__nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu__item {
   position: relative;

   display: block;

   margin-left: 0;
   padding: 0;
}

.fullscreen-navigation-ul .menu__item a:hover {
   color: #444;
   background-color: #fff;
}

.fullscreen__nav .fullscreen__nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu__item a {
   display: block;

   -webkit-transition: all ease-in-out 0.15s;
        -o-transition: all ease-in-out 0.15s;
           transition: all ease-in-out 0.15s;
}

.fullscreen-navigation-ul .menu__item a {
   padding: 25px 0;

   text-transform: uppercase;

   color: #fff;

   font-size: 16px;
   font-weight: bolder;
}

/*sub menu*/
.fullscreen__nav .fullscreen__nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .sub-menu {
   display: none;

   background-color: #565656;
}

.fullscreen__nav ul {
   margin: 0;
   padding: 0;
}
/*===sub menu===*/

/*sub menu open arrow*/
.fullscreen__nav .fullscreen__nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu__item .menu__sub-level-arrow:hover {
   color: #fff;
}

.fullscreen__nav .fullscreen__nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu__item .menu__sub-level-arrow {
   position: absolute;
   top: 44px;
   right: 0;
   left: 0;

   width: 20px;
   margin: 0 auto;

   cursor: pointer;
}
/*===sub menu open arrow===*/

/**popup window*/
.fullscreen__nav.opened {
   visibility: visible;
   overflow-y: auto;

   opacity: 1;
}
.fullscreen__nav {
   background-color: #444;
   position: fixed;
   z-index: 999;
   top: 0;
   left: 0;

   visibility: hidden;

   width: 100%;
   height: 100%;

   -webkit-transition: all ease-in-out 0.25s;
        -o-transition: all ease-in-out 0.25s;
           transition: all ease-in-out 0.25s;
   text-align: center;

   opacity: 0;
}

.fullscreen__nav .fullscreen__nav-close {
   position: fixed;
   z-index: 1001;
   top: 40px;
   right: 50px;

   -webkit-transform: opacity 0.2s;
       -ms-transform: opacity 0.2s;
           transform: opacity 0.2s;

   opacity: 0.8;
}
.fullscreen__nav .fullscreen__nav-close.light:link svg ,
.fullscreen__nav .fullscreen__nav-close.light:visited svg {
   color: #fff;
}

.fullscreen__nav .fullscreen__nav-close svg {
   width: 32px;
   height: 32px;
}
.svg-icon {
   width: auto;
   height: auto;

   fill: currentColor;
}

.fullscreen-inner {
   min-height: 100%;
}

.flex-center {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
           justify-content: center;
}

.flex-items-center {
   -webkit-box-align: center;
   -webkit-align-items: center;
           align-items: center;
   -ms-flex-align: center;
}

.flex {
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display:         flex;
}

.fullscreen__nav.opened .fullscreen__nav-wrapper {
   visibility: visible;

   -webkit-transform: scale(1);
       -ms-transform: scale(1);
           transform: scale(1);

   opacity: 1;

   ms-transform: scale(1);
}

.fullscreen__nav .fullscreen__nav-wrapper {
   display: inline-block;
   visibility: hidden;

   width: 99.5%;

   -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
           transition: all ease-in-out 0.3s;
   -webkit-transform: scale(0.9);
       -ms-transform: scale(0.9);
           transform: scale(0.9);
   text-align: center;
   vertical-align: middle;

   opacity: 0;

   font-size: 18px;

   ms-transform: scale(0.9);
}

/**===navigation===*/

/**header login*/
.header__login .header__login-link svg {
   height: 16px;
   margin-right: 4px;

   vertical-align: text-bottom;
}

.header__login-register {
   position: absolute;
   top: 100%;
   right: 0;

   display: none;

   width: 250px;
   padding: 15px;

   border: 1px solid #d9d9d9;
   background-color: #fff;
}

.header__login-register.show {
   display: block;

   -webkit-animation: showLogin 0.3s;
           animation: showLogin 0.3s;
}

@-webkit-keyframes showLogin {
   0% {
      display: none;

      opacity: 0;
   }
   100% {
      display: block;

      opacity: 1;
   }
}

@keyframes showLogin {
   0% {
      display: none;

      opacity: 0;
   }
   100% {
      display: block;

      opacity: 1;
   }
}

.header__login {
   position: relative;

   display: inline-block;
   float: right;

   margin: 0 20px 0 0;
}

.user-profile-box img {
   float: left;
}

.user-profile-box a {
   display: block;

   margin: 0 0 0 60px;

   color: #747474;

   line-height: 24px;
}
a:active ,
a:focus ,
a:hover ,
a:link ,
a:visited {
   text-decoration: none;

   outline: 0 none;
}
/**=== header login ===*/

/**shopping cart*/

.shopping-cart {
   position: relative;

   display: inline-block;

   margin: 0;

   vertical-align: top;
}

.shopping-cart {
   z-index: 11;
}

.header .shoping-cart__link {
   margin: 0;
   padding: 0 10px 0 20px;
}

.header .shoping-cart__link svg {
   fill: #444;
}

.shopping-cart__box {
   border-top: 2px solid #f97352;
}

.shopping-cart__box {
   background-color: #333;
}
.shopping-cart__box {
   position: absolute;
   z-index: -1;
   top: 100%;
   right: 0;

   width: 300px;
   padding: 0 10px;

   -webkit-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
           transition: opacity 0.3s;
   text-align: left;

   opacity: 0;
}

.shopping-cart__box .woocommerce-mini-cart__empty-message {
   color: #b3b3b3;
}

.shoping-cart__link:hover +
.shopping-cart__box {
   z-index: 1;

   opacity: 1;
}

.header .shopping-cart__count {
   color: #444;

   padding-left: 5px;

   font-size: 13px;
   font-weight: 700;
}

.add-cart-responsive-state {
   display: none;
}

.add-cart-responsive-state a {
   position: fixed;
   z-index: 9999;
   right: 15px;
   bottom: 15px;

   width: 60px;
   height: 60px;

   text-align: center;

   -webkit-border-radius: 100px;
           border-radius: 100px;
   background: #fff;
   -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
           box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

   line-height: 60px;
}

.shopping-cart ,
.header__trigger {
   float: right;
}

/**===shopping cart===*/
/*===Header toolbar===**/

/**logo*/
.header__logo {
   display: block;

   width: 100%;
}

.header__logo a {
   margin-left: 20px;
   z-index: 30;
   position: relative;

   display: inline-block;

   height: 100%;
}

.header__logo img {
   display: block;

   max-width: none;
   height: auto;
   max-height: 85%;
}
/**===logo===*/

/**close button*/
.header__trigger {
   position: relative;

   display: inline-block;

   width: 30px;
   margin: 0 20px;

   cursor: pointer;
   z-index: 11;
}

.header__trigger .icon-open-menu {
   position: absolute;
   top: 50%;
   left: 0;

   margin-top: -8px;
}

.icon-open-menu {
   width: 18px;
   height: 18px;

   -webkit-transform: translateZ(0);
           transform: translateZ(0);
}

.icon-open-menu div {
   background-color: #444;

   position: relative;

   display: block;

   height: 3px;
   margin-bottom: 3px;

   -webkit-border-radius: 3px;
           border-radius: 3px;
}
/**=== close button ===*/


/*toolbar responsive icon*/
.header__toolbar-resposnive-icon svg{
   fill: #444;
   height: 16px;
}

.header__toolbar-resposnive-icon {
   position: absolute;
   z-index: 80;
   top: 0;
   left: 50%;

   display: none;

   width: 24px;
   height: 24px;

   cursor: pointer;

   line-height: 16px!important;
}

/*===toolbar responsive icon===*/

/*
### HEADER OVERLAY STICKY & LAZY MENU ###
**/

.header-grid >
.add-header-height {
   top: 0;

   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display:         flex;
   -webkit-flex-flow: row-reverse;
       -ms-flex-flow: row-reverse;
           flex-flow: row-reverse;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: reverse;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-justify-content: space-between;
           justify-content: space-between;

   width: 100%;
   height: 90px;

   line-height: 90px;
}

.header .header__inner {
   position: relative;
   z-index: 300;

   width: 100%;
}

/**fullscreen logo*/
.fullscreen__nav-logo {
   margin-bottom: 125px;
}

.fullscreen__nav .responsive-logo {
   display: none;
}
/**===fullscreen logo===*/

@media handheld, only screen and (max-width: 780px) {
   .header__toolbar-resposnive-icon {
      display: block;
   }
   .header__toolbar {
      display: none;

      height: auto;
      padding: 10px 5px;
   }
   
   .sticky.a-sticky .header__holder {
      top: 0;
   }

   .add-cart-responsive-state {
      display: block;
   }
}
